


h1{
    color: red;
}

.item_price{
    color:orange;
    margin-top: 100px;
}
.disc{
    font-size: 50px;
}

.a{
font-size:24px;
font-style: italic;
text-align: center;
rext-shadow: green 2px 3px 4px;
}